{% extends 'template.html' %}

{% block title %} {{title}} {% endblock %}

{% block content %}

<h2>Last 5 search results:</h2>

    {% for record in content %}
        <div style="padding: 1px; vertical-align: middle; background-color: {{ loop.cycle('#f3f3f3', '#ddd') }}; margin: 3px"><p style="vertical-align: middle; font-size: 16px">{{ record.datums }}</p><p style="vertical-align: middle; font-size: 18px; font-weight: bold">{{ record.city }} {{ record.temperature }} °C</p></div>
    {% endfor %}

{% endblock %}
